.Clients{
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 100px;
    margin-bottom: 150px;
    .btn{
        width: 40px;
    }

    blockquote{
        display: block;
        text-align: left;
    }

}